@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}

*{
    margin:0;
    padding:0;
}

#wrapper{

}
#nav{

	list-style: none;
	background-color:black;
	padding:1em 1em 1em 1em;
}

#nav ul a li{
	display:inline;
	color:white;
	padding:1em;
}

#nav ul a li{
	color:white;
}

#nav ul a:link{
	text-decoration:none;
}

#nav ul li:hover {
	background-color:#D91E18;
}

#header-main {
	background-image: url("../snowym.jpg");	
	background-attachment:scroll;
	background-position:center center;
	background-repeat:none;
	-webkit-background-size:cover;
	background-size: cover;
	padding:20em 0 20em 0;
	text-align:center;
	color:white;
}



body{
    font-family: Roboto-Light;
   
}

