

body{
    padding-top: 15%;
    font-family: robot;
    font-size: 1.6em;
	background-color:#34495e;
	color:white;
}
@media (min-width: 768px) and (max-width: 992px){
    .box{
        height:20em;
    }
}
.boxes{
    padding-left: 10%;
    padding-right: 10%;
	align:center;
}

a{
	color:white;
	text-decoration:underline;
}
.boxLabel{
   font-family: 'Quicksand', sans-serif; 
   font-weight:700;

}
.name{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 5em;
    padding-bottom: 2%;
    font-family: 'Quicksand', sans-serif;
}
.intro{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	background-color:#2c3e50;	
	font-family: 'Quicksand', sans-serif;
	font-weight:300;

}


ul{
    list-style:none;
    margin-top:-5px;
    padding-left:10px;
}
li{
    /* font-style:italic; */
}
.pato{
   
    bottom:0px;
    text-align:right;
	padding-right:2%;
	font-family:'Quicksand';
	font-weight:300;
	font-size:.75em;
}